<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="field">
    <%= form.label :nameEvent %>
    <%= form.text_field :nameEvent, id: :event_nameEvent %>
  </div>

  <div class="field">
    <%= form.label :startDate %>
    <%= form.text_field :startDate, id: :event_startDate %>
  </div>

  <div class="field">
    <%= form.label :endDate %>
    <%= form.text_field :endDate, id: :event_endDate %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :event_address %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :event_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :event_longitude %>
  </div>

  <div class="field">
    <%= form.label :nameUstad %>
    <%= form.text_field :nameUstad, id: :event_nameUstad %>
  </div>

  <div class="field">
    <%= form.label :theame %>
    <%= form.text_field :theame, id: :event_theame %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :event_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
