<p id="notice">
  <%= notice %>
</p>

<h1>Events</h1>
<button class="btn btn-primary" style="float:right; margin:6px; color: red;">
  <%= link_to 'New article', new_article_path %></button>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Nameevent</th>
          <th>Startdate</th>
          <th>Enddate</th>
          <th>Address</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Nameustad</th>
          <th>Theame</th>
          <th>Comment</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td>
              <%= event.title %>
            </td>
            <td>
              <%= event.nameEvent %>
            </td>
            <td>
              <%= event.startDate %>
            </td>
            <td>
              <%= event.endDate %>
            </td>
            <td>
              <%= event.address %>
            </td>
            <td>
              <%= event.latitude %>
            </td>
            <td>
              <%= event.longitude %>
            </td>
            <td>
              <%= event.nameUstad %>
            </td>
            <td>
              <%= event.theame %>
            </td>
            <td>
              <%= event.comment %>
            </td>
            <td>
              <button class="btn btn-primary">
                <%= link_to 'Show', event %>
              </button>
            </td>
            <td>
              <%= link_to 'Edit', edit_event_path(event) %>
            </td>
            <td>
              <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %><br>

<%= link_to 'New Event', new_event_path %>