<!DOCTYPE html>
<html>
  <head>
    <title>KajianWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col-md-12">
      <div class="row">
      <div class="col-md-2" style="background-color:red">
        left side
      </div>
      <div class="col-md-10" style="float: center;">
          <%= yield %>
        </div>
    </div>
    </div>
  </body>
</html>
